.calculator-container {
    display: block;
    position: relative;
}

.button:hover {
    cursor: pointer;
}

.recent-functions-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.button {
    background-color: var(--button-background);
    color: var(--button-text);
    box-shadow: 0px 0px 5px 5px #00000055;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

.recent-function {
    width: 22%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    color: var(--extra-function-button-text);
    font-weight: 500;
    font-size: 1.35rem;
    transition: 0.5s ease-in-out;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    max-height: 60vh;
    padding-left: auto;
    padding-right: auto;
}

.calculator .button {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    font-size: 2.5rem;
    padding: 0.75rem;
    transition: 0.5s ease-in-out;
}

.calculator .button.zero {
    grid-column: span 2;
    aspect-ratio: auto;
    transition: 0.5s ease-in-out;
}

.calculator .button.equals {
    grid-row: span 2;
    aspect-ratio: auto;
    transition: 0.5s ease-in-out;
}

.calculator .button.function {
    background-color: var(--function-button-background);
    color: var(--function-button-text);
    font-weight: 500;
    font-size: 3rem;
}

.calculator .button {
    font-weight: 700;
}

@media screen and (max-width: 380px) {
    .calculator .button {
        font-size: 1.5rem;
    }

    .calculator .button.function {
        background-color: var(--function-button-background);
        color: var(--function-button-text);
        font-weight: 500;
        font-size: 2.5rem;
    }
}

.calculator .button.dark {
    background-color: var(--extra-function-button-background);
    color: var(--extra-function-button-text);
}

.calculator .button.del {
    color: var(--delete-button-text);
}