@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.graphicFunctionsSingular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #26313C;
    border-radius: 15px;
    width: 28rem;
    height: 7rem;
    padding: 25px;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.graphicFunctionsSingular:hover {
    border: 1px solid #26313C;
}

.graphicImage {
    height: 7rem;
    width: 7rem;
    border-radius: 15px;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}