@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --bg-dark-mode: #17181a;
    --fg-dark-mode: #ffffff;
    --main-dark-mode: #005db2;
    --main-fg-dark-mode: #339dff;
    --grey-bg-dark-mode: #26313c;
    --grey-fg-dark-mode: #6a7580;

    --bg-light-mode: #c8d9ed;
    --fg-light-mode: #2d2222;
    --main-light-mode: #4663ac;
    --main-fg-light-mode: #e1f1fd;
}

html {
    padding: 0px;
    margin: 0px;
    background-color: var(--bg-dark-mode);
    color: var(--fg-dark-mode);
}

p {
    margin: 0px;
}

.App {
    text-align: center;
    background-color: var(--bg-dark-mode);
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.large-bottom-container {
    margin-top: auto;
}

.calculator-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

.calculator-display .answer {
    font-size: 4rem;
    font-weight: 600;
    text-align: right;
}

.calculator-display .operation {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    color: var(--grey-fg-dark-mode);
}

.blur-container {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #ffffff0a;
    z-index: 1;
    padding: 30px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(15px);
}

.blur-light {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: var(--main-dark-mode);
    width: 300px;
    max-width: 50vw;
    aspect-ratio: 1/1;
    z-index: -1;
    filter: blur(50px);
    transform: translate(-50%, -50%);
}

.element-large-container {
    display: flex;
}

.element-separator.first {
    display: block;
    width: 1px;
    background-color: var(--fg-dark-mode);
}

@media screen and (max-width: 380px) {
    .element-large-container {
        padding: 0px;
    }
}

.top-nav-container {
    height: 10vh;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: end;
}

.light-buttons {
    color: var(--main-fg-light-mode);
    background-color: var(--main-light-mode);
}

.light-functions {
    color: var(--main-light-mode);
    background-color: var(--main-fg-light-mode);
}

body.light {
    background-color: var(--bg-light-mode);
    color: var(--fg-light-mode);
}

.menu-list {
    list-style: none;
    font-size: 2rem;
    color: #38509f;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.menu-value:hover {
    color: #506ac0;
}

.menu-value {
    margin: 5px;
}

.menu-value:nth-child(1) {
    margin-top: 25px;
}

.whole-screen-menu {
    width: 200vh;
    height: 100vh;
    background: #020507d0;
    position: fixed;
    left: -120rem;
    top: 0;
    z-index: 2;
    margin: 0px;
    transition: 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.hover-underline-animation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.hover-underline-animation::after {
    content: "";
    position: relative;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transition: transform 0.2s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
}

.active {
    left: 0rem;
}

.Hamburger-Menu {
    width: 150px;
    cursor: pointer;
    z-index: 3;
}

.menu-button {
    /* height: 150px; */
    padding: 1rem;
}

.menu-button-image {
    cursor: pointer;
    background-color: none;
    border-radius: 25px;
    margin: 10px;
    margin-top: 15px;
    flex: 1 0 21%;
    transition: 0.25s ease-in;
}

.menu-button-image:hover {
    background-color: #26313c;
    color: white;
}

.menu-image {
    width: 10rem;
    height: 10rem;
}

.menu-graphs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.history-button-function {
    background-color: #1d1b38;
    border: none;
    border-radius: 25px;
    height: 3rem;
    color: #496999;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.history-button-function:hover {
    color: white;
}

.showing {
    position: absolute;
    left: -120rem;
    margin-left: -150px;
    top: 50%;
    margin-top: -200px;
    z-index: 5;
    width: 20rem;
    height: 20rem;
    background-color: #26313c;
    border-radius: 15px;
    transition: 0.4s ease-out;
}

.showing > button {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-decoration: none;
    border: none;
    background-color: #293b56;
    color: #005db2;
    cursor: pointer;
    text-align: right;
    padding-right: 15px;
    width: 12rem;
    height: 5rem;
    margin: 10px;
    border-radius: 15px;
}

.showing > button > p {
    color: white;
}

.showing > button > h2 {
    margin-right: 25px;
}

.popup-active-shown {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -200px;
    z-index: 5;
    width: 20rem;
    height: 20rem;
    background-color: #26313c;
    border-radius: 15px;
    transition: 0.25s ease-out;
}

.popup-active-shown > button {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-decoration: none;
    border: none;
    background-color: #293b56;
    color: #005db2;
    cursor: pointer;
    text-align: right;
    padding-right: 15px;
    width: 12rem;
    height: 5rem;
    margin: 10px;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}

.popup-active-shown > button:hover {
    border: 1px solid white;
}

.popup-active-shown > button > p {
    color: white;
}

.popup-active-shown > button > h2 {
    margin-right: 25px;
}

.popup-active-elements {
    opacity: 30%;
}

.close {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 87%;
    bottom: 87%;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #5e7b97;
    color: white;
    transition: 0.5s ease-in-out;
}

.close:hover {
    background-color: white;
    color: #5e7b97;
}

.loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #26313c;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 150px;
    height: 150px;
    border: 15px solid #4d5a6e;
    border-top-color: #5d8bb9;
    border-radius: 50%;
    animation: loading 0.75s ease-in-out infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.loader-text {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 75px;
    position: absolute;
    margin: 50px;
}
